.solutions {
	padding: 0 0 0 78px;
	position: relative;
	@media #{$M_SMX} {
		padding: 0;
	}
	&__title {
		padding: 45px 0 15px;
		font-size: 42px;
		font-family: $font-title;
		letter-spacing: 3px;
		text-transform: uppercase;
		text-align: center;
		font-weight: 900;
		@media #{$M_SMX} {
			padding: 40px 0 0;
			font-size: 30px;
			letter-spacing: 2px;
			text-align: left;
		}
	}
	&__brdr {
		padding: 0 0 5px;
		border-bottom: 4px solid #1BC487;
		@media #{$M_SMX} {
			border: none;
		}
	}
	&__item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		min-height: 600px;
		padding: 70px 0;
		border-bottom: 1px solid rgba(0,0,0,.1);
		@media #{$M_SMX} {
			min-height: 600px;
			padding: 30px 0;
			flex-direction: column;
		}
		&:last-child {
			border: none;
		}
		&.right-side {
			flex-direction: row-reverse;
			@media #{$M_SMX} {
				flex-direction: column;
			}
		}
		&-description {
			width: 45%;
			padding: 0 20px 0 0;
			@media #{$M_SMX} {
				padding: 0;
				width: 100%;
			}
			&-inner {
				padding-right: 50px;
			}
		}
		&-title {
			padding-bottom: 25px;
			position: relative;
			font-family: $font-title;
			font-weight: bold;
			font-size: 34px;
			line-height: 1.4;
			font-weight: 700;
			@media #{$M_SMX} {
				padding-left: 50px;
				padding-bottom: 20px;
				font-size: 22px;
			}
			&:after {
				content: '';
				width: 58px;
				height: 0;
				border-top: 4px solid #1BC487;
				position: absolute;
				top: 22px;
				left: -78px;
				font-size: 0;
				line-height: 0;
				@media #{$M_SMX} {
					width: 40px;
					left: 0;
					top: 13px;
				}
			}

		}
		&-paragraph,
		&-list {
			padding: 0 0 20px;
			margin: 0;
			font-size: 21px;
			line-height: 34px;
			color: #222;
			font-weight: 400;
			@media #{$M_SMX} {
				padding: 0 0 12px;
				font-size: 18px;
				line-height: 1.5;
			}
		}
		&-list {
			& > li {
				padding-left: 38px;
				padding-bottom: 10px;
				position: relative;
				@media #{$M_SMX} {
					padding-left: 30px;
					padding-bottom: 5px;
				}
				&:after {
					content: '';
					width: 28px;
					height: 0;
					border-top: 1px solid rgba(0,0,0,.3);
					position: absolute;
					top: 17px;
					left: 0;
					font-size: 0;
					line-height: 0;
					@media #{$M_SMX} {
						width: 20px;
						top: 13px;
					}
				}
			}
		}
		&-visual {
			width: 40%;
			@media #{$M_SMX} {
				padding: 10px 0 0;
				width: 80%;
			}
		}
	}
}