+b.solutions
	+e('h2').title
		+e('span').brdr Solutions
	+e.item.left-side.first
		+e.item-description
			+e('h2').item-title Video Reviews for Ecommerce
			+e('p').item-paragraph Our system can generate tons of video reviews and place them on your web pages. These videos help potential buyers find out more about the product.
			+e('p').item-paragraph Visitors who play our videos, have х3 Conversion rate.
			+e('p').item-paragraph Adding our videos to a website also uplifts important metrics:
			+e('ul').item-list
				+e('li') Time on Site
				+e('li') Page Depth
				+e('li') Search Ranking
				+e('li') Add-to-cart Rate
		+e.item-visual
			+e.video
				+e(style="padding:100% 0 0 0;position:relative;")
					+e('iframe')(src="https://player.vimeo.com/video/294166834?title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)
					+e('script')('https://player.vimeo.com/api/player.js')
	+e.item.right-side
		+e.item-description
			+e('h2').item-title Video Advertising
			+e('p').item-paragraph Video ads outperform static ads with higher CTR and Conversion rate.
			+e('p').item-paragraph We create advertising campaigns on Facebook, Instagram, Youtube and other ad networks to drive potential buyers and to re-engage them untill they make an order.
		+e.item-visual
			+e.video
				+e(style="padding:100% 0 0 0;position:relative;")
					+e('iframe')(src="https://player.vimeo.com/video/294170818?title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)
					+e('script')('https://player.vimeo.com/api/player.js')
	//- +e.item.left-side
	//- 	+e.item-description
	//- 		+e('h2').item-title Youtube Marketing
	//- 		+e('p').item-paragraph We know how to create engaging videos for online businesses and we know how to make them popular on Youtube. This is an effective way to get a lot of potential buyers to a website with an extremely low CPC.
	//- 	+e.item-visual
	//- +e.item.right-side
	//- 	+e.item-description
	//- 		+e('h2').item-title Personalized Videos
	//- 		+e('p').item-paragraph We gather user behaviour data and create videos for every user with a personal message. These sort of videos help our customers get higher LTV.
	//- 	+e.item-visual