+b#container
	+b.container-inner
		include ../../_partials/top/top.pug
		+b.middle
			include ../../_partials/solutions/solutions.pug
			include ../../_partials/feedback/feedback.pug
		include ../../_partials/footer/footer.pug