doctype html
include ../_vendor/bemto/bemto.pug
include ../_mixins/mixins.pug

- set_bemto_settings({ modifier: '--' })

block vars
- var rootClasses = rootClasses || '';
- var bodyClasses = bodyClasses || '';
- var TITLE = 'AdsVideo'
- var DESCRIPTION = 'We use dynamically created videos and data to help online businesses get higher results!'
- var VIEWPORT_CONTENT = VIEWPORT_CONTENT || 'width=device-width, initial-scale=1, minimal-ui';

html(class=rootClasses)
  head
    include ../_partials/head/head.pug
    block head

  body(class=bodyClasses)
    block content

  block scripts
    script(src='assets/scripts/vendor/jquery-2.2.4.min.js')
    script(src='assets/scripts/tools.js')

  block extraScripts