.top {
	position: relative;
	&-inner {
		margin: 50px 0 0 78px;
		padding: 0 0 20px;
		position: relative;
		@media #{$M_SMX} {
			margin: 0 -20px;
			padding: 20px 0;
		}
	}
	&-box {
		width: 695px;
		padding: 50px 50px 65px 78px;
		margin: 0 0 20px -78px;
		background: #fff;
		box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.35);
		position: relative;
		top: -50px;
		z-index: 12;
		@media #{$M_SMX} {
			width: auto;
			margin: 0 20px;
			padding: 20px;
			top: 0;
		}
		&__logo {
			width: 210px;
			@media #{$M_SMX} {
				width: 150px;
			}
			&:after {
				content: '';
				width: 1px;
				height: 120px;
				border-right: 1px solid rgba(0,0,0,.1);
				position: absolute;
				top: 20%;
				left: 93px;
				display: none;
				@media #{$M_SMX} {
					height: 40px;
					border-right: 1px solid rgba(0,0,0,.1);
					top: 21%;
					left: 8%;
					display: none;
				}
			}
		}
		&__slogan {
			margin: 25% 0 0;
			font-family: $font-title, serif;
			font-size: 40px;
			line-height: 60px;
			font-weight: 700;
			@media #{$M_SMX} {
				margin: 40px 0 0;
				font-size: 28px;
				line-height: 1.4;
			}
		}
	}
	&-widget {
		width: 100%;
		height: 100%;
		background: linear-gradient(129.91deg, #1BC487 62.32%, #09CC63 99.43%);
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 11;
		overflow: hidden;
		&__bg {
			width: 100%;
			height: 100%;
			background: linear-gradient(129.91deg, #1BC487 62.32%, #09CC63 99.43%);
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 13;
			opacity: .80;
		}
		&__video {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 12;
			& > video {
				position: absolute;
				top: 50%;
				left: 50%;
				min-width: 101%;
				min-height: 101%;
				width: auto;
				height: auto;
				-webkit-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
			}
		}

	}

}