+b.top
	+b.top-inner
		+b.top-box
			+e.logo
				+e('a')(href='#')
					+e('img')(src='assets/images/logo.svg' alt='AdsVideo')
			+e('p').slogan We use dynamically created videos and data to help online businesses get higher results!
		+b.top-widget
			+e.bg
			+e.video
				+e('video')(playsinline autoplay muted loop)
					<source src="temp/w_02.mp4" type="video/mp4">