meta(charset='utf-8')
title=TITLE
meta(name='viewport', content=VIEWPORT_CONTENT)
meta(name='description', content=DESCRIPTION)
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="imagetoolbar" content="no")
meta(name="msthemecompatible", content="no")
meta(name="cleartype", content="on")
meta(name="HandheldFriendly", content="True")
meta(name="format-detection", content="telephone=no")
meta(name="format-detection", content="address=no")
meta(name="apple-mobile-web-app-capable", content="yes")
meta(name="apple-mobile-web-app-status-bar-style", content="black-translucent")

link(rel="stylesheet", href='https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i&subset=cyrillic')
link(rel="stylesheet", href='https://fonts.googleapis.com/css?family=Montserrat:800,900&amp;subset=cyrillic')


link(href='assets/stylesheets/style.css', type='text/css', rel='stylesheet')

link(rel="apple-touch-icon", sizes="180x180", href="assets/favicons/apple-touch-icon.png")
link(rel="icon", type="image/png", sizes="32x32", href="assets/favicons/favicon-32x32.png")
link(rel="icon", type="image/png", sizes="16x16", href="assets/favicons/favicon-16x16.png")
link(rel="manifest", href="assets/favicons/site.webmanifest")
link(rel="mask-icon", href="assets/favicons/safari-pinned-tab.svg", color="#5bbad5")
meta(name="msapplication-TileColor", content="#da532c")
meta(name="theme-color", content="#ffffff")

meta(name='apple-mobile-web-app-title', content=TITLE)
meta(name='application-name', content=TITLE)

meta(property='og:title', content=TITLE)
meta(property='og:site_name', content=TITLE)
meta(property='og:title', content=TITLE)
meta(property='og:description', content=DESCRIPTION)

!= "<!-- [if gte IE 9]"
style.
  .gradient {
    filter: none;
  }
!= "![endif]-->"
