.solutions-nav {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	flex: 0 0 20%;
	align-items: center;
	padding: 50px 0 50px 78px;
	margin: 0 -10px 0 0;
	&__title {
		text-transform: uppercase;
		font-family: $font-title;
		font-size: 35px;
		letter-spacing: 1px;
	}
	&__link {
		padding: 0 0 20px;
		margin: 0 10px;
		display: block;
		border-bottom: 1px solid #ccc;
		font-size: 20px;
		line-height: 1.35;
		font-weight: bold;
		&:hover {
			border-color: #000;
			text-decoration: none;
		}
	}
}