/*Core*/
/*Colors*/
/*Links*/
/*Typography*/
/*Paths*/
/*Media-queries*/
/*Reset*/
*,
*:before,
*:after {
  box-sizing: inherit; }

dl,
dd,
dt,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
p,
form,
html,
body {
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  line-height: 1; }

img {
  max-width: 100%;
  border: 0;
  vertical-align: top; }

ol,
ul {
  list-style-type: none; }

:focus {
  outline: none; }

:focus::-webkit-input-placeholder {
  color: transparent; }

:focus::-moz-placeholder {
  color: transparent; }

:focus:-moz-placeholder {
  color: transparent; }

:focus:-ms-input-placeholder {
  color: transparent; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

ins {
  text-decoration: none; }

input,
textarea,
select {
  margin: 0; }

figure {
  padding: 0;
  margin: 0; }

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  padding: 0;
  margin: 0;
  border: 0; }

button {
  padding: 0;
  margin: 0;
  border: none;
  background: transparent;
  cursor: pointer; }

.dnone {
  display: none; }

/*Typography*/
/*Scaffold*/
html,
body {
  height: 100%;
  position: relative; }

html {
  padding: 0;
  margin: 0;
  font-size: 10px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  min-height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  background-color: #FFF;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-smooth: always; }

a {
  color: #000;
  text-decoration: none; }
  a:hover {
    color: #000;
    text-decoration: underline; }

p {
  margin: 0; }

strong {
  font-weight: 700; }

.dnone {
  display: none !important; }

.title-h2 {
  padding: 0 0 45px;
  font-size: 36px;
  font-weight: bold; }

.nolink {
  text-decoration: none;
  color: #000; }
  .nolink:hover {
    text-decoration: none;
    color: #000; }

/*Conatainer*/
#container {
  min-width: 320px;
  max-width: 1500px;
  margin: 0 auto;
  position: relative;
  z-index: 10; }

.container-inner {
  padding: 0 30px;
  position: relative; }
  @media screen and (max-width: 1199px) {
    .container-inner {
      padding: 0 20px; } }

/*Sprite-svg*/
.icon-svg {
  display: inline-block; }

.icon-svg-Ellipse3 {
  height: 21.03px;
  width: 23px; }

.icon-svg-schedule-sub {
  height: 15px;
  width: 15px; }

.icon-svg-star {
  height: 14px;
  width: 15px; }

.icon-svg-vk {
  height: 34px;
  width: 34px; }

/*Blocks*/
.top {
  position: relative; }
  .top-inner {
    margin: 50px 0 0 78px;
    padding: 0 0 20px;
    position: relative; }
    @media screen and (max-width: 1023px) {
      .top-inner {
        margin: 0 -20px;
        padding: 20px 0; } }
  .top-box {
    width: 695px;
    padding: 50px 50px 65px 78px;
    margin: 0 0 20px -78px;
    background: #fff;
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.35);
    position: relative;
    top: -50px;
    z-index: 12; }
    @media screen and (max-width: 1023px) {
      .top-box {
        width: auto;
        margin: 0 20px;
        padding: 20px;
        top: 0; } }
    .top-box__logo {
      width: 210px; }
      @media screen and (max-width: 1023px) {
        .top-box__logo {
          width: 150px; } }
      .top-box__logo:after {
        content: '';
        width: 1px;
        height: 120px;
        border-right: 1px solid rgba(0, 0, 0, 0.1);
        position: absolute;
        top: 20%;
        left: 93px;
        display: none; }
        @media screen and (max-width: 1023px) {
          .top-box__logo:after {
            height: 40px;
            border-right: 1px solid rgba(0, 0, 0, 0.1);
            top: 21%;
            left: 8%;
            display: none; } }
    .top-box__slogan {
      margin: 25% 0 0;
      font-family: "Montserrat", sans-serif, serif;
      font-size: 40px;
      line-height: 60px;
      font-weight: 700; }
      @media screen and (max-width: 1023px) {
        .top-box__slogan {
          margin: 40px 0 0;
          font-size: 28px;
          line-height: 1.4; } }
  .top-widget {
    width: 100%;
    height: 100%;
    background: linear-gradient(129.91deg, #1BC487 62.32%, #09CC63 99.43%);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 11;
    overflow: hidden; }
    .top-widget__bg {
      width: 100%;
      height: 100%;
      background: linear-gradient(129.91deg, #1BC487 62.32%, #09CC63 99.43%);
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 13;
      opacity: .80; }
    .top-widget__video {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 12; }
      .top-widget__video > video {
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 101%;
        min-height: 101%;
        width: auto;
        height: auto;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }

.solutions {
  padding: 0 0 0 78px;
  position: relative; }
  @media screen and (max-width: 1023px) {
    .solutions {
      padding: 0; } }
  .solutions__title {
    padding: 45px 0 15px;
    font-size: 42px;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 900; }
    @media screen and (max-width: 1023px) {
      .solutions__title {
        padding: 40px 0 0;
        font-size: 30px;
        letter-spacing: 2px;
        text-align: left; } }
  .solutions__brdr {
    padding: 0 0 5px;
    border-bottom: 4px solid #1BC487; }
    @media screen and (max-width: 1023px) {
      .solutions__brdr {
        border: none; } }
  .solutions__item {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    min-height: 600px;
    padding: 70px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
    @media screen and (max-width: 1023px) {
      .solutions__item {
        min-height: 600px;
        padding: 30px 0;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column; } }
    .solutions__item:last-child {
      border: none; }
    .solutions__item.right-side {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
      flex-direction: row-reverse; }
      @media screen and (max-width: 1023px) {
        .solutions__item.right-side {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          flex-direction: column; } }
    .solutions__item-description {
      width: 45%;
      padding: 0 20px 0 0; }
      @media screen and (max-width: 1023px) {
        .solutions__item-description {
          padding: 0;
          width: 100%; } }
      .solutions__item-description-inner {
        padding-right: 50px; }
    .solutions__item-title {
      padding-bottom: 25px;
      position: relative;
      font-family: "Montserrat", sans-serif;
      font-weight: bold;
      font-size: 34px;
      line-height: 1.4;
      font-weight: 700; }
      @media screen and (max-width: 1023px) {
        .solutions__item-title {
          padding-left: 50px;
          padding-bottom: 20px;
          font-size: 22px; } }
      .solutions__item-title:after {
        content: '';
        width: 58px;
        height: 0;
        border-top: 4px solid #1BC487;
        position: absolute;
        top: 22px;
        left: -78px;
        font-size: 0;
        line-height: 0; }
        @media screen and (max-width: 1023px) {
          .solutions__item-title:after {
            width: 40px;
            left: 0;
            top: 13px; } }
    .solutions__item-paragraph, .solutions__item-list {
      padding: 0 0 20px;
      margin: 0;
      font-size: 21px;
      line-height: 34px;
      color: #222;
      font-weight: 400; }
      @media screen and (max-width: 1023px) {
        .solutions__item-paragraph, .solutions__item-list {
          padding: 0 0 12px;
          font-size: 18px;
          line-height: 1.5; } }
    .solutions__item-list > li {
      padding-left: 38px;
      padding-bottom: 10px;
      position: relative; }
      @media screen and (max-width: 1023px) {
        .solutions__item-list > li {
          padding-left: 30px;
          padding-bottom: 5px; } }
      .solutions__item-list > li:after {
        content: '';
        width: 28px;
        height: 0;
        border-top: 1px solid rgba(0, 0, 0, 0.3);
        position: absolute;
        top: 17px;
        left: 0;
        font-size: 0;
        line-height: 0; }
        @media screen and (max-width: 1023px) {
          .solutions__item-list > li:after {
            width: 20px;
            top: 13px; } }
    .solutions__item-visual {
      width: 40%; }
      @media screen and (max-width: 1023px) {
        .solutions__item-visual {
          padding: 10px 0 0;
          width: 80%; } }

.feedback {
  margin: 0 0 0 78px;
  padding: 70px 50px;
  background: linear-gradient(129.91deg, #1BC487 62.32%, #09CC63 99.43%);
  color: #fff;
  text-align: center; }
  @media screen and (max-width: 1023px) {
    .feedback {
      margin: 0 -20px;
      padding: 40px 0; } }
  .feedback a,
  .feedback a:hover {
    color: #fff; }
  .feedback__title {
    padding: 0 0 35px;
    font-size: 42px;
    text-align: center;
    font-family: "Montserrat", sans-serif, serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 900; }
    @media screen and (max-width: 1023px) {
      .feedback__title {
        padding: 0 0 15px;
        font-size: 26px;
        letter-spacing: 2px; } }
    .feedback__title-brdr {
      display: inline-block;
      padding-bottom: 5px;
      border-bottom: 4px solid #fff; }
  .feedback__paragraph {
    padding: 0 0 25px;
    font-size: 21px; }
    @media screen and (max-width: 1023px) {
      .feedback__paragraph {
        padding: 0 0 15px;
        font-size: 18px; } }
    .feedback__paragraph:last-child {
      font-size: 25px;
      font-weight: bold;
      padding: 0; }
      @media screen and (max-width: 1023px) {
        .feedback__paragraph:last-child {
          font-size: 18px; } }

.footer {
  padding: 25px 0 25px 78px;
  text-align: center;
  color: #888; }
  @media screen and (max-width: 1023px) {
    .footer {
      padding: 25px; } }

/*# sourceMappingURL=stylemaps/style.css.map */
