.feedback {
	margin: 0 0 0 78px;
	padding: 70px 50px;
	background: linear-gradient(129.91deg, #1BC487 62.32%, #09CC63 99.43%);
	color: #fff;
	text-align: center;
	@media #{$M_SMX} {
		margin: 0 -20px;
		padding: 40px 0;
	}
	& a,
	& a:hover {
		color: #fff;
	}
	&__title {
		padding: 0 0 35px;
		font-size: 42px;
		text-align: center;
		font-family: $font-title, serif;
		text-transform: uppercase;
		letter-spacing: 3px;
		font-weight: 900;
		@media #{$M_SMX} {
			padding: 0 0 15px;
			font-size: 26px;
			letter-spacing: 2px;
		}
		&-brdr {
			display: inline-block;
			padding-bottom: 5px;
			border-bottom: 4px solid #fff;
		}
	}
	&__paragraph {
		padding: 0 0 25px;
		font-size: 21px;
		@media #{$M_SMX} {
			padding: 0 0 15px;
			font-size: 18px;
		}
		&:last-child {
			font-size: 25px;
			font-weight: bold;
			padding: 0;
			@media #{$M_SMX} {
				font-size: 18px;
			}
		}
	}
}